* {
    margin: 0;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Merriweather', serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 20px 0 10px 0;
}

p {
    margin: 0;
    padding-bottom: 10px;
}

body {
    background-image: url('Images/house-resized.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.row {
    margin: 0;
}

/* Header */
#header {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header-backdrop {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

.faded-panel, .header-backdrop img {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faded-button, .header-button a {
    width: 500px;
    height: 60px;
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.faded-button {
    background-color: #FFF;
    opacity: .7;
}

.header-button a {
    transition: .3s linear;
    text-decoration: none;
    color: black;
}

.header-button a:hover {
    background-color: #FFF;
}

.faded-panel {
    background-color: #FFF;
    opacity: .7;
}

.header-backdrop img {
    padding: 20px;
}

.menu {
    flex: 0 1;
    text-align: center;
    background-color: #ccc;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.menu .col-sm-2 {
    height: 50px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 0 10px 0;
    -webkit-transition: .3s linear; /* Safari */
    transition: .3s linear;
}

.menu .col-sm-2:hover {
    background-color: #eee;
}

/* Body */
#body {
    padding: 0 20px 0 20px;
    background-color: #fff;
}

/* About */
#about {

}

#about .row {
    padding: 10px;
    /*background-color: #e2e2e2;*/
}

/* Pricing */
.pricing-container a {
    text-decoration: none !important;
}

.price {
    padding: 10px;
    background-color: #121212;
    color: #e5e5e5;
}

/* Contact */
#contact {

}

.schedule {
    width: 100%;
    margin-top: 20px;
}


/* Inspection */
#inspection {
    background-color: #DDD;
    padding: 20px;
}

#inspection a {
    text-decoration: none !important;
    color: black !important;
}

.form-container {
    /*padding: 0 20px 0 20px;*/
}

.inspection-col {
    padding-left: 0;
    padding-right: 20px;
    float: left;
}

.home-button {
    background-color: rosybrown;
    text-align: center;
    width: 200px;
}

/* Footer */
.footer {
    padding: 20px;
    background-color: #ccc;
}