* {
    margin: 0;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Merriweather', serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 20px 0 10px 0;
}

p {
    margin: 0;
    padding-bottom: 10px;
}

body {
    background-image: url('Images/house-resized.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.row {
    margin: 0;
}

/* Header */
#header {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.header-backdrop {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

.faded-panel, .header-backdrop img {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.header-button {
    line-height: 60px;
}

#inspection-button {
    width: 500px;
    height: 60px;
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    background-color: #FFF;
    opacity: .7;
    transition: .3s linear;
}

#inspection-button:hover {
    cursor: pointer;
    opacity: .9;
}

.faded-panel {
    background-color: #FFF;
    opacity: .7;
}

.menu {
    flex: 0 1;
    text-align: center;
    background-color: #ccc;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.menu .col-md-2 {
    height: 50px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 0 10px 0;
    -webkit-transition: .3s linear; /* Safari */
    transition: .3s linear;
}

.menu .col-md-2:hover {
    background-color: #eee;
}

/* Body */
#body {
    padding: 0 20px 0 20px;
    background-color: #fff;
}

/* About */
#about {

}

#about .row {
    padding: 10px;
    /*background-color: #e2e2e2;*/
}

/* Pricing */
.pricing-container a {
    text-decoration: none !important;
}

.price {
    padding: 10px;
    background-color: #121212;
    color: #e5e5e5;
}

.schedule {
    width: 100%;
    margin-top: 20px;
}


/* Inspection */
#inspection {
    background-color: #DDD;
    padding: 20px;
}

#inspection a {
    text-decoration: none !important;
    color: black !important;

    background-color: rosybrown;
    text-align: center;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#radon img {
    width: 90%;
}

/* Footer */
.footer {
    padding: 20px;
    background-color: #ccc;
}


/*Schedule inspection popup */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #142f14;
    color: white;
}

.modal-body {
    padding: 10px 16px;
}

.modal-footer {
    padding: 15px 15px 5px 15px;
    background-color: #142f14;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 5vh;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: #ccc;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Form input formating */
.form-container .standard-input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.form-container textarea {
    padding: 5px;
    width: 100%;
    height: 200px;
}

.checkbox-container {
    padding: 0;
}

.checkbox-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
    cursor: pointer;
}

.checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #452200;
}